################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DiagnosticDemo/.vs/DiagnosticDemo/v16
/DiagnosticDemo/ConsoleApp/obj
/DiagnosticDemo/WebAPI/obj
/DiagnosticDemo/ConsoleApp/bin/Debug/net5.0
/DiagnosticDemo/WebAPI/bin/Debug/net5.0
*.dmp
*.nettrace
